#app {
    width: 800px;
}

canvas {
    background: lightgray;
    width: 800px;
    height: 600px;
}

.footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

input[type="number"] {
    width: 70px;
}

.figure-settings__coords *, .figure-settings__color-picker * {
    margin: 5px;
}

.buttons * {
    margin: 5px;
}

.button-delete button {
    display: block;
    margin: 5px;
    margin-left: auto;

}

.wrapper-figure-settings {
    width: 290px;
}

.wrapper-buttons {
    width: 400px;
}

.wrapper-button-delete {
    width: 120px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}