* {
    margin: 0;
    padding: 0;
}

.main {
    background-color: lightgray;
    min-height: 5000px;
    padding: 10px;
}

.hero {
    height: 250px;
    background-color: lightskyblue;
    display: block;
}

.menu {
    height: 70px;
    display: block;
    background: coral;
    width: 100%;
    text-align: center;
    color: white;
    line-height: 70px;
    font-size: 40px;
}

.menu--fixed {
    position: fixed;
    top: 0;
    left: 0;
}
